

.CustomPagnitation{
    display:flex;
    gap: 8px;
    list-style:none;
    padding: 0;
    margin-top: 20px;
}
.Custom-page-item {
    background-color: #f0f0f0;
    border-radius: 2px;
}

.Custom-page-link{
    display;block;
    padding: 4px 12px;
    text-decoration: none;
    color: #333;
}
.Custom-page-link:hover{
    background-color: green;
    color:white;
    border-radius:2px;
}

.Custom-page-item.active .Custom-page-link {
    background-color: green;
    color: white;
}
