﻿@{
    Layout = "/Views/Shared/_BlogLayout.cshtml";
}



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/BlogStyle.css" rel="stylesheet" type="text/css" />
</head>



<div class="mainbar" style="margin-top:25px; margin-left:120px;">
    <div class="article">
        <h2><span>Een Blog</span> Entry</h2>
        <div class="clr"></div>
        <p>Gepost door <a href="#">Owner</a>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. </p>
        <p><a href="#"><strong>Comments (3)</strong></a>27 mei, 2010  <a href="#"><strong>Edit</strong></a></p>
    </div>
    <div class="article">
        <h2><span>3</span> Comments</h2>
        <div class="clr"></div>
        <div class="comment">
            <a href="#"><img src="/images/userpic.gif" width="40" height="40" alt="" class="userpic" /></a>
            <p>
                <a href="#">admin</a> zegt:<br />
                20 April, 2009 om 22:17 uur
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.</p>
        </div>
        <div class="comment">
            <a href="#"><img src="/images/userpic.gif" width="40" height="40" alt="" class="userpic" /></a>
            <p>
                <a href="#">admin</a> zegt:<br />
                20 April, 2009 om 22:17 uur
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo.</p>
        </div>
        <div class="comment">
            <a href="#"><img src="/images/userpic.gif" width="40" height="40" alt="" class="userpic" /></a>
            <p>
                <a href="#">admin</a> zegt:<br />
                20 April, 2009 om 22:17 uur
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.</p>
        </div>
    </div>
    <div class="article">
        <h2><span>Laat een reactie achter</span> </h2>
        <div class="clr"></div>
        <form action="#" method="post" id="leavereply">
            <ol>
                <li>
                    <label for="name">Name (verplicht)</label>
                    <input id="name" name="name" class="text" />
                </li>
                <li>
                    <label for="email">Email Address (verplicht)</label>
                    <input id="email" name="email" class="text" />
                </li>
                <li>
                    <label for="message">Uw bericht</label>
                    <textarea id="message" name="message" rows="8" cols="50"></textarea>
                </li>
                <li>
                    <input type="image" name="imageField" id="imageField" src="/images/submit.gif" class="send" />
                    <div class="clr"></div>
                </li>
            </ol>
        </form>
    </div>
</div>